[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-jose = "*"
PyMySQL = "*"
django-filter = "*"
coreapi = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
dev = "python manage.py runserver 0.0.0.0:9527"